.btnn
{
	
	color:black;
	padding:10px 10px;
	border-radius:100px;
	cursor:pointer;
}
.btnn:hover{
	background-color:white;
	transition:transform .2s;
	transform:scale(1.0);	
}
.btnn1
{
	color:black;
	padding:10px 10px;
	border-radius:100px;
	cursor:pointer;
}